<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>585923097949-qq1cijl4f4bbf0gtskebr5bbnen5bffk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.585923097949-qq1cijl4f4bbf0gtskebr5bbnen5bffk</string>
	<key>API_KEY</key>
	<string>AIzaSyC8CWTPryl1zwzAa1edOQXlG2-QVTSewDs</string>
	<key>GCM_SENDER_ID</key>
	<string>585923097949</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.siteux.healthfix</string>
	<key>PROJECT_ID</key>
	<string>siteux-healthfix</string>
	<key>STORAGE_BUCKET</key>
	<string>siteux-healthfix.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:585923097949:ios:82f38b7f95eccc548ce4b4</string>
</dict>
</plist>